<div class="col-xl-2 padding-light d-flex">
    <div class="light-border bright-border d-flex align-items-center">
        <div class="margin-light">
            <img src="/image/gallery/@(Category)/@(File)" alt="@Category">
            <div class="mt-2">
                <a class="bright-color light-text" href="/Home/DeletePhoto?id=@(Id)&file=@(File)&category=@(Category)" onclick="return confirm('Naozaj si prajete odstrániť fotografiu? Akcia je nezvratná!')">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@code 
{
    [Parameter]
    public string File { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public int Id { get; set; }
}