<div class="col-lg-6 padding-medium">
    <img class="light-border bright-border" src="/image/gallery/@(Category)/@(Orientation)/@(File)" alt="@(Category)">
</div>

@code {
    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public string File { get; set; }

    [Parameter]
    public string Orientation { get; set; }
}