<div class="light-border bright-border row margin-light justify-content-center">
    <div class="col-md-5 padding-light">
        <a class="bright-color light-text padding-light">@Mail</a>
    </div>
    <div class="col-md-5 padding-light">
        <a class="bright-color light-text padding-light">@FullName</a>
    </div>
    <div class="col-md-1 padding-light">
        <a class="bright-color light-text padding-light" href="/Home/EditUser?mail=@Mail">
            <i class="bi bi-pen"></i>
        </a>
    </div>
    <div class="col-md-1 padding-light" >
        <a class="bright-color light-text padding-light" href="/Home/DeleteUser?mail=@Mail" onclick="return confirm('Naozaj si prajete odstrániť používateľa? Akcia je nezvratná!')">
            <i class="bi bi-trash3"></i>
        </a>
    </div>
</div>

@code 
{
    [Parameter]
    public string Mail { get; set; }

    [Parameter]
    public string FullName { get; set; }
}