@{
    ViewData["Title"] = "O mne";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <div class="row">
            <div class="col-xl-4 padding-medium">
                <img class="light-border bright-border" src="../image/other/profile.jpg" alt="svadby">
            </div>
            <div class="col-xl-8 d-flex flex-column justify-content-center pb-3">
                <h2 class="heavy-text margin-bottom">
                    O MNE
                </h2>
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />