@using SemestralnaPraca.Controllers
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Účet";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <h1 class="heavy-text mb-3">
            ÚČET
        </h1>
        <div class="row">
            <div class="col-xl padding-medium d-flex flex-column justify-content-center">
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
            <div class="col-xl padding-medium d-flex flex-column justify-content-center">
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />