@{
    ViewData["Title"] = "Vozidlá";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        VOZIDLÁ
    </h1>
    <div class="row">
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/1.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/2.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/3.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/4.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/5.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/6.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/vertical/1.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/vertical/2.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/vertical/3.jpg" alt="vozidlá">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/car/horizontal/7.jpg" alt="vozidlá">
        </div>

        <!--TODO DBS generovanie-->
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />