@{
    ViewData["Title"] = "Podujatia";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        PODUJATIA
    </h1>
    <div class="row">
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/1.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/2.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/3.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/4.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/5.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/6.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/7.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/8.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/9.jpg" alt="podujatia">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/event/horizontal/10.jpg" alt="podujatia">
        </div>

        <!--TODO DBS generovanie-->
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />