@{
    ViewData["Title"] = "Príroda";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        PRÍRODA
    </h1>
    <div class="row">
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/1.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/2.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/3.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/4.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/vertical/1.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/vertical/2.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/5.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/6.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/7.jpg" alt="príroda">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/nature/horizontal/8.jpg" alt="príroda">
        </div>

        <!--TODO DBS genrovanie-->
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />