@{
    ViewData["Title"] = "Iné";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        INÉ
    </h1>
    <div class="row">
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/horizontal/1.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/horizontal/2.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/vertical/1.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/vertical/2.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/horizontal/3.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/horizontal/4.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/vertical/3.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/vertical/4.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/horizontal/5.jpg" alt="iné">
        </div>
        <div class="col-lg-6 padding-medium">
            <img class="light-border bright-border" src="../../image/gallery/other/horizontal/6.jpg" alt="iné">
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />