@{
    ViewData["Title"] = "Štatistika";
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        ŠTATISTIKA
    </h1>
    <div>
        <div id="date" class="form-group row padding-light">
            <label for="dateInput" class="col-xl-2 col-form-label">Dátum</label>
            <div class="col-xl-10">
                <input type="date" class="form-control light-border bright-border dark-background bright-color rounded-0 date" name="Date" id="dateInput">
            </div>
        </div>
        <button id="refresh" class="highlight btn btn-primary light-border bright-border dark-background bright-color rounded-0 m-3">OBNOVIŤ</button>
    </div>
    <a id="message" class="error-color"></a>
    <div class="padding-medium">
        <canvas class="chart-style" id="chart"></canvas>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script language="javascript" type="text/javascript">
    CreateGraph();
    
    $("#refresh").click(function ()
    {
        CreateGraph();
    });

    function CreateGraph()
    {
        $.ajax(
        {
            type: "POST",
            url: ("/Home/Statistics?date=" + document.getElementById('dateInput').value.trim()),
            success: OnSuccessResult,
            error: OnError
        });

        function OnSuccessResult(data) 
        {
            var chartData = data;
            var chartLabels = data[0];
            var chartData = data[1];

            var chartExist = Chart.getChart("chart");
            if (chartExist != undefined) {
                chartExist.destroy();
            }

            new Chart("chart",
            {
                type: "bar",
                data:
                {
                    labels: chartLabels,
                    datasets:
                    [{
                        backgroundColor: "rgba(240,240,240,1)",
                        data: chartData
                    }]
                },
                options:
                {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: 
                    {
                        legend: 
                        {
                            display: false
                        },
                    }
                }
            });

            document.getElementById('message').textContent = '';
            document.getElementById('message').visibility = 'hidden';
        }

        function OnError(data) 
        {
            document.getElementById('message').textContent = 'nepodarilo sa načítať dáta';
            document.getElementById('message').visibility = 'visible';
        }
    }
</script>